.left{
    float: left;
    width: 33%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.right{
    float: right;
    width: 67%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 1em;
}